/*header baslangıc*/
.header {
  list-style-type: none;
  margin: 10px;
  overflow: hidden;
  margin-right: 16px;
  font-family: arial,sans-serif;
  font-size: 13px;

}
.headerli a {
  display:block;
  float: right;
  margin: 10px;
  color: black;
  text-align: center;
  padding: 5px 5px;
  text-decoration: none;
}

.headerli a:hover {
  text-decoration: underline;
}
.container {
  text-align: center;

}
#photo{
  width: 32px;
  height: 32px;
  border-radius: 50%;
  box-shadow: 0 1px 0 rgb(0 0 0 / 15%);
}

/*search baslangıc*/
.search-area {
  background: #fff;
  display: flex;
  box-shadow: none;
  z-index: 3;
  height: 44px;
  margin: 0 auto;
  margin-top: 20px;
  width: 582px;
  border: 1px solid #DFE1E5;
  border-radius: 24px;
}

.search-area:hover {
box-shadow: 0 2px 3px 0 rgba(0,0,0,0.24), 0 2px 5px 0 rgba(0,0,0,0.19);
}

.search {
  display: flex;
  padding-left: 14px;
  height: 44px;
  background: #fff;
  border: 1px solid #dfe1e5;
  box-shadow: none;
  border-radius: 24px;
  max-width: 582px;
  
}

.search-img {
  align-items: center;
  padding-right: 13px;
  margin-top: 10px;
  color: #9aa0a6;
  height: 20px;
  width: 20px;
  display: inline-block;
  fill: currentColor;
  line-height: 24px;
  position: relative;
  margin-left: 13px;
}

.search-img span {
  color: #9aa0a6;
  height: 20px;
  width: 20px;
  margin-top: 0px;
  display: inline-block;
  fill: currentColor;
  line-height: 24px;
  position: relative;
}

.input-enter {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
}

.input-area {
  color: transparent;
  flex: 100%;
  white-space: pre;
  font: 16px arial, sans-serif;
  line-height: 34px;
  height: 34px !important;
  display: block;
}

.input {
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.87);
  word-wrap: break-word;
  outline: none;
  display: flex;
  flex: 100%;
  margin-top: -68px;
  font: 16px arial, sans-serif;
  line-height: 34px;
  height: 34px !important;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  text-align: start;
  appearance: textfield;
  cursor: text; /*mouse isareti*/
  width: 480px;  
  border: none; 
  
}
#voice-search-img{
  display: flex;
  height: 24px;
  margin: 8px;
  position: relative; 
  cursor: pointer;
}

/*butonlar*/
.buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  border: 1px  #f2f2f2;
  font-family: Arial, Helvetica, sans-serif;
  color:#5f6368;
  font-size: 14px;
  margin-top: 36px;
  box-shadow: gray;

}
.google-search {
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
  border: 1px solid #f2f2f2;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  height: 36px;
  border-radius: 4px;
  color: #222;
  background-color: #f2f2f2;
}

.feeling-lucky {
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
  border: 1px solid #f2f2f2;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  height: 36px;
  border-radius: 4px;
  color: #222;
  background-color: #f2f2f2;
}

/*footer baslangıc*/
.footer {
  background-color: #f2f2f2 ;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #dfe1e5;
  border-top: 1px solid #dadce0;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-left: -8px;
  line-height: 10px;
  list-style-type: none;
}

.footerli {
  float: left;
}

.footerli a {
  display: block;
  color: #70757a;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: arial, sans-serif;
  font-size: 14px;
  margin-left: 14px;
  margin-right: -20px;
}

.footerli a:hover {
  text-decoration: underline;
}
